<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />

		<title>Lowest Mobile Price in Pakistan - Priceoye</title>
	</head>
	<body>
		<header id="navbar">
			<a id="left-content">
				<img src="https://static.priceoye.pk/images/logo.svg" alt="" />
			</a>
			<div id="mid-content">
				<input type="text" placeholder="Search..." />
			</div>
			<div id="right-content">
				<a class="btn" href="#">Log in</a>
				<a class="btn" id="reg" href="#">Register</a>
			</div>
		</header>

		<section id="category">
			<a class="category-items">
				<img src="https://static.priceoye.pk/images/home/mobiles.svg" alt="" />
				<h6>Mobiles</h6>
			</a>
			<a class="category-items">
				<img
					src="https://static.priceoye.pk/images/home/smart-watches.svg"
					alt=""
				/>
				<h6>Smart Watches</h6>
			</a>
			<a class="category-items">
				<img
					src="https://static.priceoye.pk/images/home/wireless-earbuds.svg"
					alt=""
				/>
				<h6>Wireless Earbuds</h6>
			</a>
			<a class="category-items">
				<img
					src="https://static.priceoye.pk/images/home/bluetooth-speakers.svg"
					alt=""
				/>
				<h6>Bluetooth Speakers</h6>
			</a>
			<a class="category-items">
				<img
					src="https://static.priceoye.pk/images/home/power-banks.svg"
					alt=""
				/>
				<h6>Power Banks</h6>
			</a>
			<a class="category-items">
				<img src="https://static.priceoye.pk/images/home/laptops.svg" alt="" />
				<h6>Laptops</h6>
			</a>
			<a class="category-items">
				<img src="https://static.priceoye.pk/images/home/tablets.svg" alt="" />
				<h6>Tablets</h6>
			</a>
		</section>

		<section id="slider">
			<img https://images.priceoye.pk/pakistan-priceoye-slider-h7ecf.jpg
			src="https://images.priceoye.pk/pakistan-priceoye-slider-abknk.jpg" alt=""
			/>
		</section>

		<section id="container">
			<div id="heading">
				<h3 id="latest">Latest Mobiles</h3>
				<a href="#">View All</a>
			</div>

			<div id="item-container">
				<a href="#" id="latest-items">
					<img
						src="https://images.priceoye.pk/samsung-galaxy-s22-pakistan-priceoye-k2kbm-270x270.webp"
						alt=""
					/>
					<p>Samsung Lorem ipsum.</p>
					<h2 id="price">Rs. 36,399</h2>
				</a>
				<a href="#" id="latest-items">
					<img
						src="https://images.priceoye.pk/infinix-note-12-vip-pakistan-priceoye-17e3z-270x270.webp"
						alt=""
					/>
					<p>Samsung Lorem ipsum.</p>
					<h2 id="price">Rs. 36,399</h2>
				</a>
				<a href="#" id="latest-items">
					<img
						src="https://images.priceoye.pk/samsung-galaxy-a13-pakistan-priceoye-o6gzw-270x270.webp"
						alt=""
					/>
					<p>Samsung Lorem ipsum.</p>
					<h2 id="price">Rs. 36,399</h2>
				</a>
				<a href="#" id="latest-items">
					<img
						src="https://images.priceoye.pk/samsung-galaxy-a13-pakistan-priceoye-o6gzw-270x270.webp"
						alt=""
					/>
					<p>Samsung Lorem ipsum.</p>
					<h2 id="price">Rs. 36,399</h2>
				</a>
				<a href="#" id="latest-items">
					<img
						src="https://images.priceoye.pk/samsung-galaxy-a13-pakistan-priceoye-o6gzw-270x270.webp"
						alt=""
					/>
					<p>Samsung Lorem ipsum.</p>
					<h2 id="price">Rs. 36,399</h2>
				</a>
			</div>

			<div id="heading">
				<h3 id="latest">Shop By Price</h3>
				<a href="#">View All</a>
			</div>

			<div id="byprice-container">
				<a href="" id="byprice">Below Rs. 10,000</a>
				<a href="" id="byprice">Rs. 10,000 - Rs. 20,000</a>
				<a href="" id="byprice">Rs. 20,000 - Rs. 30,000</a>
				<a href="" id="byprice">Rs. 30,000 - Rs. 40,000</a>
				<a href="" id="byprice">Rs. 40,000 - Rs. 50,000</a>
				<a href="" id="byprice">Rs. 50,000 - Rs. 70,000</a>
				<a href="" id="byprice">Rs. 70,000 - Rs. 90,000</a>
				<a href="" id="byprice">Above Rs. 90,000</a>
			</div>

			<div id="heading">
				<h3 id="latest">Shop By Brand</h3>
				<a href="#">View All</a>
			</div>

			<div id="brand-container">
				<a href="#" id="brand-items">
					<img
						src="https://static.priceoye.pk/images/brands/svg/samsung.svg"
						alt=""
					/>
					<p>Samsung</p>
				</a>
				<a href="#" id="brand-items">
					<img
						src="https://static.priceoye.pk/images/brands/svg/infinix.svg"
						alt=""
					/>
					<p>Infinix</p>
				</a>
				<a href="#" id="brand-items">
					<img
						src="https://static.priceoye.pk/images/brands/svg/tecno.svg"
						alt=""
					/>
					<p>Tecno</p>
				</a>
				<a href="#" id="brand-items">
					<img
						src="https://static.priceoye.pk/images/brands/svg/xiaomi.svg"
						alt=""
					/>
					<p>Xiaomi</p>
				</a>
				<a href="#" id="brand-items">
					<img
						src="https://static.priceoye.pk/images/brands/svg/apple.svg"
						alt=""
					/>
					<p>Apple</p>
				</a>
				<a href="#" id="brand-items">
					<img
						src="https://static.priceoye.pk/images/brands/svg/oppo.svg"
						alt=""
					/>
					<p>OPPO</p>
				</a>
				<a href="#" id="brand-items">
					<img
						src="https://static.priceoye.pk/images/brands/svg/realme.svg"
						alt=""
					/>
					<p>Realme</p>
				</a>
				<a href="#" id="brand-items">
					<img
						src="https://static.priceoye.pk/images/brands/svg/vivo.svg"
						alt=""
					/>
					<p>Vivo</p>
				</a>
				<a href="#" id="brand-items">
					<img
						src="https://static.priceoye.pk/images/brands/svg/huawei.svg"
						alt=""
					/>
					<p>Huawei</p>
				</a>
			</div>
		</section>

		<section id="slider">
			<img
				src="https://images.priceoye.pk/pakistan-priceoye-slider-abknk.jpg"
				alt=""
			/>
		</section>

		<section id="facility">
			<div id="facility-items">
				<img
					src="https://priceoye.pk/assets/icons/feature-approved.svg"
					alt=""
				/>
				<h4>PTA Approved</h4>
				<p>Mobile Phone</p>
			</div>
			<div id="facility-items">
				<img
					src="	https://priceoye.pk/assets/icons/feature-warranty.svg"
					alt=""
				/>
				<h4>1 Year</h4>
				<p>Brand Warranty</p>
			</div>
			<div id="facility-items">
				<img
					src="	https://priceoye.pk/assets/icons/feature-shipping.svg"
					alt=""
				/>
				<h4>24hr Delivery</h4>
				<p>Islamabad & Rawalpindi</p>
			</div>
			<div id="facility-items">
				<img
					src="https://priceoye.pk/assets/icons/feature-delivery.svg"
					alt=""
				/>
				<h4>Free Delivery</h4>
				<p>All Over Pakistan</p>
			</div>
		</section>

		<footer>
			<div id="footer-col">
				<img
					src="https://static.priceoye.pk/images/logo.svg"
					id="logo-img"
					alt=""
				/>
				<a href="#" id="footer-a">About Us</a>
				<a href="#" id="footer-a">FAQs</a>
				<a href="#" id="footer-a">Contact Us</a>
				<a href="#" id="footer-a">Careers</a>
				<a href="#" id="footer-a">Press & Blog</a>
				<a href="#" id="footer-a">Terms & Condition</a>
			</div>
			<div id="footer-col">
				<h4>Customer Service</h4>
				<a href="" id="footer-a">Help Center</a>
				<a href="" id="footer-a">Privacy Policy</a>
				<a href="" id="footer-a">Installments Plan</a>
				<a href="" id="footer-a">E-Warranty Activation</a>
			</div>
			<div id="footer-col">
				<h4>Secure Payment Methods</h4>
				<img
					src="https://static.priceoye.pk/images/payment_method.svg"
					alt=""
					id="payment-img"
				/>
			</div>
		</footer>
	</body>
</html>
